.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#license-footer {
    align-self: flex-end;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    font-size: small;
    border-top: 1px solid #ddd;
}

.md-toolbar-tools h3.subheader-text{
    font-size: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
