<div layout="column">
    <md-whiteframe ng-if="!allOperators" class="md-whiteframe-1dp" layout="column" layout-padding layout-align="center center">
        <md-progress-circular md-diameter="96"></md-progress-circular>
        <div>
            Fetching operators...
        </div>
    </md-whiteframe>
    <md-whiteframe ng-if="allOperators" class="md-whiteframe-1dp" layout="column" layout-padding>
        <form>

            <label>Operator</label>
            <md-autocomplete
                md-no-cache="true"
                md-selected-item="operator"
                md-search-text="operatorSearchText"
                md-selected-item-change="operatorChange(operator)"
                md-autoselect="true"
                md-items="operator in filterOperators(operatorSearchText)"
                md-item-text="operator.Name"
                md-min-length="0"
                md-require-match="true"
                placeholder="Pick Operator">
                <md-item-template>
                    <span md-highlight-text="operatorSearchText">{{operator.Name}} (#{{operator.Id}})</span>
                </md-item-template>
                <md-not-found>
                  No operators matching "{{operatorSearchText}}" were found.
                </md-not-found>
            </md-autocomplete>



                <div class="container" ng-if="operator && !allStations">
                    <br />
                    <md-progress-linear mode="indeterminate"></md-progress-linear>
                    <div class="bottom-block">
                        <span>Loading operator's stations...</span>
                    </div>
                </div>

            <div ng-if="operator && allStations">
                <br />
                <label>Origin</label>
                <md-autocomplete
        			required
        			flex
                    md-no-cache="true"
        			md-input-name="travelStart"
        			md-selected-item="travelStart"
        			md-search-text="stationSearchTextStart"
        			md-selected-item-change="stationChange(travelStart,'start')"
                    md-autoselect="true"
        			md-items="station in stationQuerySearch(stationSearchTextStart, 'start')"
        			md-item-text="station.Name"
        			md-min-length="0"
                    md-require-match="true"
        			placeholder="Travel start">
        			<md-item-template>
        				<span md-highlight-text="stationSearchTextStart">{{station.Name}} (#{{station.id}})</span>
        			</md-item-template>
                    <md-not-found>
                      No stations matching "{{stationSearchTextStart}}" were found.
                    </md-not-found>
              	</md-autocomplete>

                <br />
                <label>Destination</label>
                <md-autocomplete
        			required
        			flex
                    md-no-cache="true"
        			md-input-name="travelEnd"
        			md-selected-item="travelEnd"
        			md-search-text="stationSearchTextEnd"
        			md-selected-item-change="stationChange(travelEnd,'stop')"
                    md-autoselect="true"
        			md-items="station in stationQuerySearch(stationSearchTextEnd, 'stop')"
        			md-item-text="station.Name"
        			md-min-length="0"
                    md-require-match="true"
        			placeholder="Travel end">
        			<md-item-template>
        				<span md-highlight-text="stationSearchTextEnd">{{station.Name}} (#{{station.id}})</span>
        			</md-item-template>
                    <md-not-found>
                      No stations matching "{{stationSearchTextEnd}}" were found.
                    </md-not-found>
              	</md-autocomplete>
            </div>
        </form>
    </md-whiteframe>

</div>
