<div layout="column">
    <md-whiteframe class="md-whiteframe-1dp" layout="column" layout-padding>
        <form>
            <div class="container" ng-if="allOperators==null">
                <br />
                <md-progress-linear mode="indeterminate"></md-progress-linear>
                <div class="bottom-block">
                    <span>Fetching operators...</span>
                </div>
            </div>

            <div class="container" ng-if="allOperators">

                <label>Operator</label>
                <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="operator"
                    md-search-text="operatorSearchText"
                    md-selected-item-change="operatorChange(operator)"
                    md-autoselect="true"
                    md-items="operator in filterOperators(operatorSearchText)"
                    md-item-text="operator.Name"
                    md-min-length="0"
                    md-require-match="true"
                    placeholder="Pick Operator">
                    <md-item-template>
                        <span md-highlight-text="operatorSearchText">{{operator.Name}} (#{{operator.Id}})</span>
                    </md-item-template>
                    <md-not-found>
                      No operators matching "{{operatorSearchText}}" were found.
                    </md-not-found>
                </md-autocomplete>


                <div class="container" ng-if="operator.Name && !allStations.length && !allLines.length">
                    <br />
                    <md-progress-linear mode="indeterminate"></md-progress-linear>
                    <div class="bottom-block">
                        <span>Loading operator's stations &amp; lines...</span>
                    </div>
                </div>

                <div ng-if="operator && allStations">
                    <br />
                    <label>Origin</label>
                    <md-autocomplete
            			required
            			flex
                        md-no-cache="true"
            			md-input-name="travelStart"
            			md-selected-item="travelStart"
            			md-search-text="stationSearchTextStart"
            			md-selected-item-change="stationChange(travelStart,'start')"
                        md-autoselect="true"
            			md-items="station in stationQuerySearch(stationSearchTextStart, 'start')"
            			md-item-text="station.name"
            			md-min-length="0"
                        md-require-match="true"
            			placeholder="Travel start">
            			<md-item-template>
            				<span md-highlight-text="stationSearchTextStart">{{station.name}} (#{{station.id}})</span>
            			</md-item-template>
                        <md-not-found>
                          No stations matching "{{stationSearchTextStart}}" were found.
                        </md-not-found>
                  	</md-autocomplete>
                    <md-progress-linear mode="indeterminate" ng-if="travelStart && !travelStartTT"></md-progress-linear>

                    <br />
                    <label>Destination</label>
                    <md-autocomplete
            			required
            			flex
                        md-no-cache="true"
            			md-input-name="travelEnd"
            			md-selected-item="travelEnd"
            			md-search-text="stationSearchTextEnd"
            			md-selected-item-change="stationChange(travelEnd,'stop')"
                        md-autoselect="true"
            			md-items="station in stationQuerySearch(stationSearchTextEnd, 'stop')"
            			md-item-text="station.name"
            			md-min-length="0"
                        md-require-match="true"
            			placeholder="Travel end">
            			<md-item-template>
            				<span md-highlight-text="stationSearchTextEnd">{{station.name}} (#{{station.id}})</span>
            			</md-item-template>
                        <md-not-found>
                          No stations matching "{{stationSearchTextEnd}}" were found.
                        </md-not-found>
                  	</md-autocomplete>
                    <md-progress-linear mode="indeterminate" ng-if="travelEnd && !travelEndTT"></md-progress-linear>
                </div>
            </div>
        </form>
    </md-whiteframe>

    <md-card ng-if="travelStart && travelStartTT !== null">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">{{travelStart.Name}}</span>
            <span class="md-subhead">Schedule</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content ng-if="travelStartTT === false">
          <p>
            Sorry, we have no data on schedule for "{{travelStart.Name}}" stop.
          </p>
        </md-card-content>
    </md-card>

    <md-card ng-if="travelEnd && travelEndTT !== null">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">{{travelEnd.Name}}</span>
            <span class="md-subhead">Schedule</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content ng-if="travelEndTT === false">
          <p>
            Sorry, we have no data on schedule for "{{travelEnd.Name}}" stop.
          </p>
        </md-card-content>
    </md-card>
</div>
